<h1>Your Change:</h1>
<ul>
  <li>You got <%= @final_result[0] %> pennies back</li>
  <li>You got <%= @final_result[1] %> nickles back</li>
  <li>You got <%= @final_result[2] %> dimes back</li>
  <li>You got <%= @final_result[3] %> quarters back</li>
  <li>There are still <%= @final_result[4] %> pennies in the bank.</li>
  <li>There are still <%= @final_result[5] %> nickles in the bank.</li>
  <li>There are still <%= @final_result[6] %> dimes in the bank.</li>
  <li>There are still <%= @final_result[7] %> quarters in the bank.</li>
</ul>
